In [1]:
#print 0 to 20 using range
range(0,20)
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
#print using range
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [25]:
list=[10,20,14,55,43,87,76]
print(list)
print("Number of item in the List2:\n",len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [27]:
name = "Artificial Intelligence"
print(name)
for i in name:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [30]:
name = "Pavithra"
print("-",name,"-");
Age = 30
print("-",Age,"-")
profession = "Automotive engineer"
print("-",profession,"-")

- Pavithra -
- 30 -
- Automotive engineer -

In [31]:
tup = (1, "welcome", 2, "Hope")
print(tup)

(1, 'welcome', 2, 'Hope')

In [33]:
Tuple1=(0, 1, 2, 3)
Tuple2=("python", "HOPE")
Tuple3 = (Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [36]:
list = [20,10,16,19,25,1,276,188]
print(list)
for i in list:
    if(i%2==1):
        print(i, " is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19  is odd
25  is odd
1  is odd

In [37]:
list = [20,10,16,19,25,1,276,188]
print(list)
for i in list:
    if(i%2==0):
        print(i, " is even")

[20, 10, 16, 19, 25, 1, 276, 188]
20  is even
10  is even
16  is even
276  is even
188  is even