In [9]:
#print statement
print("HOPE AI")

HOPE AI

In [11]:
#buy input
Institute_Name = input("Enter your institute name? :")

Enter your institute name? : HOPE AI

In [12]:
#buy inputs
name = input("Enter your name:")
age = int(input("Enter your age:"))
school = input("Enter your school name:")
degree = input("Enter your degree:")

Enter your name: RAM
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E CSE

In [14]:
#Subtraction
a= 43
print("a = ",a)
b= 34
print("b = ",b)
Sub = a-b
print("Sub = ",Sub)

a =  43
b =  34
Sub =  9

In [15]:
#Multiplication
a= 63
print("a = ",a)
b= 97
print("b = ",b)
Mul = a*b
print("Mul = ",Mul)

a =  63
b =  97
Mul =  6111

In [16]:
#Division
a= 76
print("a = ",a)
b= 31
print("b = ",b)
Div = a/b
print("Div = ",Div)

a =  76
b =  31
Div =  2.4516129032258065

In [17]:
#Floor division
a= 76
print("a = ",a)
b= 31
print("b = ",b)
Floor_Div = a//b
print("Floor Div = ",Floor_Div)

a =  76
b =  31
Floor Div =  2

In [18]:
#Addition
a= 43
print("a = ",a)
b= 34
print("b = ",b)
Add = a+b
print("Add = ",Add)

a =  43
b =  34
Add =  77

In [19]:
#Modulo
a= 76
print("a = ",a)
b= 31
print("b = ",b)
Modulo = a%b
print("Modulo = ",Modulo)

a =  76
b =  31
Modulo =  14

In [20]:
#Power
a= 4
print("a = ",a)
b= 4
print("b = ",b)
Power = a**b
print("Power = ",Power)

a =  4
b =  4
Power =  256